@import 'bootstrap';
@import 'ember-modal-dialog/ember-modal-structure';
@import 'ember-modal-dialog/ember-modal-appearance';

@font-face {
  font-family: 'airstreamregular';
  src: url('/fonts/Airstream-webfont.eot');
  src: url('/fonts/Airstream-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Airstream-webfont.woff') format('woff'),
       url('/fonts/Airstream-webfont.ttf') format('truetype'),
       url('/fonts/Airstream-webfont.svg#airstreamregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* https://github.com/Aathi/firebase-storage-ember-example/blob/master/app/styles/app.css */
.img-responsive {
  max-width:100% !important;
  height:auto;
  display:block;
}
.img-rounded {
  border-radius: 6px;
}
.text-center {
  text-align: center;
}

.max-height-500px {
  max-height: 500px;
}

.index-images {
  max-height: 500px;
}

.detail-image-title {
  position: relative;
  bottom: +46px;
  left: 14px;

  font-family: airstreamregular;
  color: white;
  text-shadow: rgba(0,0,0,0.9) 1px 2px 9px;
  font-size: 40px;
}
