@import 'bootstrap';
@import 'ember-modal-dialog/ember-modal-structure';
@import 'ember-modal-dialog/ember-modal-appearance';
@font-face {
  font-family: 'airstreamregular';
  src: url("/fonts/Airstream-webfont.eot");
  src: url("/fonts/Airstream-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/Airstream-webfont.woff") format('woff'), url("/fonts/Airstream-webfont.ttf") format('truetype'), url("/fonts/Airstream-webfont.svg#airstreamregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* https://github.com/Aathi/firebase-storage-ember-example/blob/master/app/styles/app.css */
.img-responsive {
  max-width: 100% !important;
  max-height: 75vh;
  height: auto;
  display: block;
}

.img-rounded {
  border-radius: 6px;
}

.text-center {
  text-align: center;
}

.max-height-350px {
  max-height: 350px;
}

.index-images {
  /*max-height: 500px;*/
}

.imageDivInIndexParent {
  width: 200px;
  height: 200px;
  overflow: hidden; /*text-align: center;*/
  // this was kinda cool looking as well, meh..
}

.imageDivInIndex {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.5s;
  /* Enable hardware acceleration to fix laggy transitions */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
}

.imageDivInIndexParent:focus .imageDivInIndex,
.imageDivInIndexParent:hover .imageDivInIndex {
  will-change: transform;
  transform: scale(1.07);
}

#imageInIndexContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  /*justify-content: center;*/
  justify-content: left;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

.imageInIndexText {
  position: relative;
  bottom: -175px;
  left: 10px;
  font-size: 18px;
}

.imagePostingTitle {
  position: relative;
  bottom: +50px;
  left: 20px;
  font-size: 45px;
}

.airstreamregular {
  font-family: airstreamregular;
  color: white;
  text-shadow: rgba(0,0,0,0.9) 1px 2px 9px;
}
.scroll {
    height: 70vh;
    overflow: scroll;
}
