<div class="form-group text-center">
  <button {{action 'isSortedByAesc'}} class="btn btn-danger">Popular</button>
  <button {{action 'isSortedByDesc'}} class="btn btn-warning">Recent</button>
</div>


<p><br></p>
{{gallery-view posts=sortedModel postIDlist=postIDs}}
