<div class="form-group text-center">
  <button {{action 'isSortedByAesc'}} class="btn btn-danger">{{fa-icon "fire"}} HOT!</button>
  <button {{action 'isSortedByDesc'}} class="btn btn-warning">New!</button>
</div>


<p><br></p>
{{gallery-view posts=sortedModel postIDlist=postIDs}}
