<div id="imageInIndexContainer">
  {{#each sortedModel as |post|}}
    <div class="imageDivInIndexParent">
      <div class="imageDivInIndex" style="background-image: url({{post.downloadURL}});">
        <span class="imageInIndexText airstreamregular">{{post.title}}</span>
      </div>
    </div>
  {{/each}}
</div>
