{{#each sortedModel as |post|}}
  <!-- https://www.codeschool.com/blog/2016/03/21/dynamic-sorting-in-emberjs/  -->
  <div>
    <img src="{{post.downloadURL}}" alt="{{post.title}}" class="img-responsive img-rounded"/>
    <span class="detail-image-title">{{post.title}}</span>
  </div>
{{/each}}
